*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aquamarine;
}

h1{
  text-align: center;
  margin: 80px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(34, 36, 3) ;
}

p{
  text-align: center;
  margin: auto;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}